body {
    margin: 0;
    padding: 0;
    background: #0f0f0f;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.container {
    width: 95%;
    max-width: 600px;
}

h1 {
    text-align: center;
}

#click-btn {
    width: 100%;
    padding: 20px;
    margin-top: 15px;
    background: #222;
    border: none;
    border-radius: 12px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.shop {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    background: #181818;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    gap: 15px;
    align-items: flex-start;
    box-shadow: 0 0 10px #00000060;
}

.item-img {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.item-info {
    flex: 1;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.2s;
}

.btn-yes {
    background: #008f32;
}

.btn-no {
    background: #8f0000;
}

.prop {
    font-size: 13px;
    opacity: 0.7;
}

.stock-text {
    margin-top: 8px;
    opacity: 0.7;
}
