/* ========== base.css ========== */

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

#app {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #0000;
}

/* FLOATING COIN */
.floating-coin {
  font-size: 15px;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  gap: 6px;
  color: lime;
  transition: transform .4s ease-out, opacity .4s ease-out;
  z-index: 60;
}
.floating-coin img { width: 18px; height: 18px; }
